@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    color: white;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.links {
    padding: 15px;
    display: flex;
    gap: 25px;
}

h1 {
    display: flex;
    font-size: 48px;
}

h2 {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex; 
}

.header,
.top {
    background-color: #1F2937;
    color: white;
}

.hero {
  padding: 16px;
  margin: 16px;
}



.middle {
    display: flex;
    flex-direction: column;
}

.imgs {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.cat {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cat-img {
    border: #3882F6;
    border-style: solid;
    border-width: 6px;
    border-radius: 8px;
    width: 50%;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
}
